{% extends 'task/create.html.twig' %}

{% block author %}
	{% if task.user.id is not defined %}
        <em>Auteur : Anonyme</em>
    {% else %}
        <em>Publiée par {{ task.user.username }}</em>
    {% endif %}
{% endblock %}

{% block button %}
	<input type="submit" class="btn btn-success" value="Modifier">
	<a href="{{ path('task_list') }}" class="btn btn-primary">Retour à la liste des tâches</a>
{% endblock %}